::-webkit-scrollbar{width:5px;height:5px;}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px transparent;border-radius:10px;}
::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.5);}
body{padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;font-family:Montserrat, Roboto, Sans-serif;}
body a{text-decoration:none;}
.flex-row{display:flex;}
.flex-col{display:flex;flex-direction:column;}
.rev{flex-direction:row-reverse;}
#header{height:56.25vw;width:100vw;}
#header .logoAndNavWrapper{margin:0 6vw;padding-top:2vw;justify-content:space-between;}
#header .logoAndNavWrapper .logo{width:14vw;height:8vw;transition:all 1s ease-out;}
#header .logoAndNavWrapper .logo:hover{transform:scale(1.1);}
#header .logoAndNavWrapper nav{align-items:flex-start;position:relative;right:-10vw;text-transform:uppercase;}
#header .logoAndNavWrapper nav a{margin-left:2.5vw;color:darkslategray;font-size:1.3vw;font-weight:700;transition:color 0.5s ease;}
#header .logoAndNavWrapper nav a:hover{color:#5FBBDF;}
#header .logoAndNavWrapper .nav-menu{width:30px;height:30px;display:none;}
#header .orderWrapper{margin-top:4vw;align-items:center;}
#header .orderWrapper h1{font-size:3.9vw;color:#fff;font-weight:900;text-align:center;font-family:Roboto, Sans-serif;}
#header .orderWrapper a{color:#fff;background:rgba(95, 187, 223, 0.7);height:3vw;width:18vw;text-align:center;border-radius:10px;font-size:1.3vw;line-height:3vw;transition:background 0.5s ease;font-weight:700;}
#header .orderWrapper a:hover{background:#5fbbdf;}
#header video{position:absolute;top:0;z-index:-1;width:100vw;}
#header .mobbg{display:none;}
#about h2{text-align:center;font-size:3vw;margin:4vw;font-weight:700;color:#333;}
#about .aboutWrapper{display:flex;margin:0 1vw;}
#about .aboutWrapper img{width:47vw;height:42vw;margin:1vw;}
#about .aboutWrapper .aboutPlate{width:47vw;height:42vw;margin:1vw;background-color:#f5f5f5;padding:0 3vw;}
#about .aboutWrapper .aboutPlate p{font-size:3vw;color:#333;text-align:right;font-weight:700;margin-top:11vw;}
#about .aboutWrapper .aboutPlate .aleft p{text-align:left;}
#about .aboutWrapper .aboutPlate ul{list-style:none;}
#about .aboutWrapper .aboutPlate .aleft ul{padding-left:0px;}
#about .aboutWrapper .aboutPlate ul li{font-size:3vw;color:#333;text-align:right;font-style:italic;font-weight:700;}
#about .aboutWrapper .aboutPlate .aleft ul li{text-align:left;}
#products .directions{margin:1vw;}
#products .directions .directions_block{background-color:#fff;height:350px;width:670px;text-align:center;margin:0px 15px;padding:10px;background-position:bottom center;background-repeat:no-repeat;}
#products{margin:1vw;}
#products h2{text-align:center;font-size:3.9vw;margin:4vw;font-weight:700;color:#333;}
.slick-active{outline:none;}
#portfolio{margin:2vw;}
#portfolio .main_small .small img{width:60%;height:40%;}
#portfolio .main_small .small img:hover{cursor:pointer;}
#portfolio{background-color:#f5f5f5;}
#portfolio .big img{width:50%;padding-left:25%;}
#portfolio h2{text-align:center;font-size:3.9vw;margin:4vw;font-weight:700;color:#333;padding-top:3vw;}
#portfolio p{text-align:center;font-size:2vw;font-weight:700;color:#333;}
#order{display:flex;flex-direction:column;align-items:center;}
#order h2{text-align:center;font-size:3.9vw;margin:4vw;font-weight:700;color:#333;}
#order form{display:flex;flex-direction:column;}
#order form label{font-size:1vw;font-weight:700;margin:1vw;}
#order form label input{width:50vw;line-height:2vw;font-size:1vw;border:1px solid #cccccc;padding-left:1vw;color:black;font-family:Roboto;}
#order form label textarea{width:50vw;line-height:2vw;font-size:1vw;border:1px solid #cccccc;padding-left:1vw;color:black;font-family:Roboto;padding-bottom:15px;padding-top:0px;}
#order form button{width:16vw;line-height:3vw;font-size:1.5vw;font-weight:700;color:#fff;background:rgba(95, 187, 223, 0.7);border:none;border-radius:10px;align-self:center;cursor:pointer;transition:background 0.5s ease;}
#order form button:hover{background:#5fbbdf;}
#map .contacts_map iframe{width:100vw;}
#map h3 {opacity: 0;}
#contacts{background:#242424;display:flex;justify-content:space-around;color:#fff;line-height:1.5;padding-bottom:35px;margin-right: -5px;}
#contacts .logo{width:150px; height: 110px; transition:all 1s ease-out;align-self:center;}
#contacts .logo:hover{transform:scale(1.05);}
#contacts .logo img {width:150px; height: 110px; padding-top: 2vw;}
#contacts .contacts_address{margin-top:2vw;}
#contacts .contacts_address p{margin-top:0px;margin-bottom:0px;}
#contacts .contacts_contact{margin-top:2vw;}
#contacts .contacts_contact p{margin-top:0px;margin-bottom:0px;}
#contacts .contacts_contact p a{text-decoration:none;color:white;}
#contacts .contacts_contact p a:hover{color:#5FBBDF;}
#contacts h3{color:#999999;padding-top:2vw;font-size:1.2vw;}
#contacts p{color:#fff;font-size:1.2vw;}
#to-top{width:5vw;position:fixed;bottom:0;right:0;margin:2vw;fill-opacity:0.5;transition:all 0.5s ease;cursor:pointer;display:none;}
#to-top:hover{fill-opacity:1;}
.slick-next{display:none;}
@media screen and (max-width:768px){#header{margin-top:-10px;height:56.25vw;width:100vw;background:url("../img/mobbg.png") no-repeat;background-size:cover;overflow:hidden;}
#header .logoAndNavWrapper{margin:5vw 5vw;padding-top:1vw;justify-content:space-between;}
#header .logoAndNavWrapper .logo{width:140px;height:90px;margin-top:-30px;}
#header .logoAndNavWrapper nav{align-items:center;justify-content:center;display:flex;flex-direction:column;position:fixed;width:100vw;height:100vh;background:linear-gradient(135deg, #f2f6f8 0%, #d8e1e7 32%, #b5c6d0 65%, #e0eff9 100%);left:100vw;top:0;transition:all 0.5s ease;}
#header .logoAndNavWrapper nav a{font-size:9vw;font-weight:700;transition:color 0.5s ease;}
#header .logoAndNavWrapper nav a:hover{color:#5FBBDF;}
#header .logoAndNavWrapper .nav-menu{width:20px;height:20px;display:block;position:absolute;top:20px;right:20px;}
#header .logoAndNavWrapper .nav-menu svg{fill:darkslategray;}
#header .orderWrapper{margin-top:0px;align-items:center;}
#header .orderWrapper h1{font-size:6vw;color:#fff;font-weight:700;text-align:center;}
#header .orderWrapper a{color:#fff;background:rgba(95, 187, 223, 0.7);height:3.5vw;width:25vw;text-align:center;border-radius:10px;font-size:1.5vw;line-height:3vw;transition:background 0.5s ease;font-weight:700;padding-top:5px;}
#header .orderWrapper a:hover{background:#5fbbdf;}
#header video{position:absolute;top:0;z-index:-1;width:100vw;display:none;}
#header .mobbg{display:block;position:absolute;top:0;z-index:-1;height:56.25vh;width:100%;}
#contacts h3{font-size:1.8vw;}
#contacts p{color:#fff;font-size:1.8vw;}
#order form label{font-size:1vw;margin:2vw;}
#order form label input{width:70vw;font-size:12px;border:1px solid #cccccc;padding-left:1vw;color:black;font-family:Roboto;padding-bottom:5px;padding-top:5px;}
#order form label textarea{width:70vw;font-size:12px;border:1px solid #cccccc;padding-left:1vw;color:black;font-family:Roboto;padding-top:10px;padding-bottom:5px;}
#order form button{width:25vw;line-height:6vw;font-size:2.3vw;font-weight:700;}
}
@media screen and (max-width:376px){#contacts{background:#242424;display:block;justify-content:space-around;color:#fff;line-height:2.5vw;padding-bottom:35px;}
#contacts .logo{width:100px;transition:all 1s ease-out;align-self:center;padding-top:7vw;margin-left:115px;}
#contacts h3{font-size:2vw;text-align:center;}
#contacts p{text-align:center;font-size:2vw;}
#header .logoAndNavWrapper .logo{width:60px;height:40px;margin-top:-10px;}
#order form label{font-size:1vw;margin:2vw;}
#order form label input{width:70vw;font-size:12px;border:1px solid #cccccc;padding-left:1vw;color:black;font-family:Roboto;padding-top:10px;}
#order form label textarea{width:70vw;font-size:12px;border:1px solid #cccccc;padding-left:1vw;color:black;font-family:Roboto;padding-top:15px;padding-bottom:5px;}
#order form button{width:25vw;line-height:6vw;font-size:2.3vw;font-weight:700;}
#contacts .contacts_address p{margin-top:0px;margin-bottom:0px;}
#contacts .contacts_contact{margin-top:2vw;}
#contacts .contacts_contact p{margin-top:0px;margin-bottom:0px;}
#contacts .contacts_contact p a{text-decoration:none;color:white;}
#contacts .contacts_contact p a:hover{color:#5FBBDF;}
#contacts h3{color:#999999;padding-top:2vw;font-size:4vw;}
#contacts p{color:#fff;font-size:2.5vw;line-height:2;}
}