::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

body{
	margin: 0;
	font-family: Montserrat, Roboto, Sans-serif;

	a{
		text-decoration: none;
	}
}

.flex-row{
	display: flex;
}

.flex-col{
	display: flex;
	flex-direction: column;
}

.rev{
	flex-direction: row-reverse;
}

#header{
	height: 56.25vw;
	width: 100vw;

	.logoAndNavWrapper{
		margin: 0 2vw;
		padding-top: 2vw;
		justify-content: space-between;

		.logo{
			width: 18vw;
			height: 12vw;
			transition: all 1s ease-out;

			&:hover{
				transform: scale(1.1);
			}
		}

		nav{
			align-items: flex-start;
			position: relative;
			right: -17vw;

			a{
				margin-left: 2.5vw;
				color: darkslategray;
				font-size: 1.3vw;
				font-weight: 700;
				transition: color 0.5s ease;

				&:hover{
					color: #5FBBDF;
				}
			}
		}

		.nav-menu{
			width: 30px;
			height: 30px;
			display: none;
		}
	}

	.orderWrapper{
		margin-top: 9.25vw;
		align-items: center;

		h2{
			font-size: 3.9vw;
			color: #fff;
			font-weight: 700;
			text-align: center;
		}

		a{
			color: #fff;
			background: rgba(95,187,223, 0.7);
			height: 3vw;
			width: 18vw;
			text-align: center;
			border-radius: 10px;
			font-size: 1.3vw;
			line-height: 3vw;
			transition: background 0.5s ease;
			font-weight: 700;

			&:hover{
				background: rgba(95,187,223, 1);
			}
		}
	}
	

	video{
		position: absolute;
		top: 0;
		z-index: -1;
		width: 100vw;
	}

	.mobbg{
		display: none;
	}
}

#about{

	h2{
		text-align: center;
		font-size: 3.9vw;
		margin: 7.14vw;
		font-weight: 700;
		color: #333;
	}

	.aboutWrapper{
		display: flex;
		margin: 0 1vw;

		img{
			width: 47vw;
			height: 42vw;
			margin: 1vw;
		}

		.aboutPlate{
			width: 47vw;
			height: 42vw;
			margin: 1vw;
			background-color: #f5f5f5;
			padding: 0 1vw;

			p{
				font-size: 3vw;
				color: #333;
				text-align: center;
			}

			ul{
				list-style: none;

				li{
					font-size: 3vw;
					color: #333;
					text-align: center;
					font-style: italic;
				}
			}
		}
	}
}

#products{

	h2{
		text-align: center;
		font-size: 3.9vw;
		margin: 7.14vw;
		font-weight: 700;
		color: #333;
	}

	.productsWrapper{
		display: flex;
		margin: 0 1vw;

		.productsPlate{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 1vw;
			padding: 1vw;
			width: 30.66vw;
			height: 30.66vw;
			background: #5FBBDF;
			transition: background 1s ease, color 1s ease;

			&:hover{
				background: #5d396c;
				color: #fff;

				svg{
					fill: #fff;
				}
			}

			svg{
				width: 8.9vw;
				height: 8.9vw;
				transition: fill 1s ease;
			}

			h3{
				font-size: 3vw;
				font-weight: 700;
			}

			p{
				font-size: 1.2vw;
				margin: 3px;
			}
		}
	}
}

#portfolio{

	h2{
		text-align: center;
		font-size: 3.9vw;
		margin: 7.14vw;
		font-weight: 700;
		color: #333;
	}

	.portfolioWrapper{
		display: flex;
		margin: 0 1vw;

		.portfolioPlate{
			margin: 1vw;
			width: 22.5vw;
			position: relative;

			&:hover .hover-desc{
				background: rgba(0, 0, 0, 0.7);
				color: #fff;
			}

			.last-orders{
				font-size: 3vw;
				font-weight: 700;
				color: #333;
			}

			img{
				width: 100%;
				height: 100%;
			}

			.hover-desc{
				position: absolute;
				background: rgba(0, 0, 0, 0);
				color: transparent;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.5s ease;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				cursor: pointer;
				font-size: 1.5vw;
				font-weight: 700;
			}
		}
	}

	.portfolio-gallery{
		position: fixed;
		width: 100vw;
		height: 100vh;
		display: none;
		flex-direction: column;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.7);

		.gallery-main{
			position: relative;
			display: flex;
			justify-content: space-between;
			width: 100vw;
			height: 90vh;

			.prev{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 9vw;

				svg{
					height: 3vw;
					margin: 3vw;
					cursor: pointer;
					transition: all 0.5s ease;

					&:hover{
						fill: #fff;
						transform: scale(1.5);
					}
				}
			}

			img{
				width: 70vw;
				height: 54vw;
				max-width: 900px;
				max-height: 700px;
				margin-top: 2vw;
				align-self: center;
			}

			.next{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 9vw;

				svg{
					height: 3vw;
					margin: 3vw;
					cursor: pointer;
					transition: all 0.5s ease;

					&:hover{
						fill: #fff;
						transform: scale(1.5);
					}
				}
			}

			.close-button{
				height: 1vw;
				position: absolute;
				top: 0;
				right: 0;
				margin: 3vw;
				cursor: pointer;
				transition: all 0.5s ease;
				fill: #bec6cc;

				&:hover{
					fill: #fff;
					transform: scale(1.5);
				}
			}
		}

		.gallery-thumbs{
			display: flex;
			justify-content: center;

			img{
				width: 10vw;
				height: 8vw;
				margin: 1vw;
				margin-bottom: 3vw;
				cursor: pointer;
				transition: all 0.5s ease;

				&:hover{
					transform: scale(1.2);
				}
			}
		}
	}
}

#order{
	display: flex;
	flex-direction: column;
	align-items: center;

	h2{
		text-align: center;
		font-size: 3.9vw;
		margin: 7.14vw;
		font-weight: 700;
		color: #333;
	}

	form{
		display: flex;
		flex-direction: column;

		label{
			font-size: 1vw;
			font-weight: 700;
			margin: 1vw;

			input, textarea{
				width: 40vw;
				line-height: 2vw;
				font-size: 1vw;
			}
		}

		button{
			width: 20vw;
			line-height: 4vw;
			font-size: 1.5vw;
			font-weight: 700;
			color: #fff;
			background: rgba(95,187,223, 0.7);
			border: none;
			border-radius: 10px;
			align-self: center;
			cursor: pointer;
			transition: background 0.5s ease;

			&:hover{
				background: rgba(95,187,223, 1);
			}
		}
	}
}

#contacts{
	background: #242424;
	display: flex;
	justify-content: space-around;
	color: #fff;
	margin-top: 3vw;

	.logo{
		width: 12vw;
		height: 8vw;
		transition: all 1s ease-out;
		align-self: center;

		&:hover{
			transform: scale(1.1);
		}
	}

	p{
		
		a{
			color: #fff;
		}
	}
}

#to-top{
	width: 5vw;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 2vw;
	fill-opacity: 0.5;
	transition: all 0.5s ease;
	cursor: pointer;
	display: none;

	&:hover{
		fill-opacity: 1;
	}
}

@media screen and ( max-width: 768px ){

	#header{
		height: 56.25vh;
		width: 100vw;
		background: url("./img/mobbg.png") no-repeat;
		background-size: cover;
		overflow: hidden;

		.logoAndNavWrapper{
			margin: 5vw 5vw;
			padding-top: 1vw;
			justify-content: space-between;

			.logo{
				width: 36vw;
				height: 24vw;
				transition: all 1s ease-out;

				&:hover{
					transform: scale(1.1);
				}
			}

			nav{
				align-items: center;
				justify-content: center;
				display: flex;
				flex-direction: column;
				position: fixed;
				width: 100vw;
				height: 100vh;
				background: linear-gradient(135deg, #f2f6f8 0%,#d8e1e7 32%,#b5c6d0 65%,#e0eff9 100%);
				left: 100vw;
				top: 0;
				transition: all 0.5s ease;

				a{
					margin-left: 2.5vw;
					font-size: 13vw;
					font-weight: 700;
					transition: color 0.5s ease;

					&:hover{
						color: #5FBBDF;
					}
				}
			}

			.nav-menu{
				width: 20px;
				height: 20px;
				display: block;
				position: absolute;
				top: 20px;
				right: 20px;

				svg{
					fill: darkslategray;
				}
			}
		}

		.orderWrapper{
			margin-top: 9.25vw;
			align-items: center;

			h2{
				font-size: 3.9vw;
				color: #fff;
				font-weight: 700;
				text-align: center;
			}

			a{
				color: #fff;
				background: rgba(95,187,223, 0.7);
				height: 3vw;
				width: 18vw;
				text-align: center;
				border-radius: 10px;
				font-size: 1.3vw;
				line-height: 3vw;
				transition: background 0.5s ease;
				font-weight: 700;

				&:hover{
					background: rgba(95,187,223, 1);
				}
			}
		}


		video{
			position: absolute;
			top: 0;
			z-index: -1;
			width: 100vw;
			display: none;
		}

		.mobbg{
			display: block;
			position: absolute;
			top: 0;
			z-index: -1;
			height: 56.25vh;
			width: 100%;
		}
	}

	#about{

		h2{
			text-align: center;
			font-size: 3.9vw;
			margin: 7.14vw;
			font-weight: 700;
			color: #333;
		}

		.aboutWrapper{
			display: flex;
			margin: 0 1vw;

			img{
				width: 47vw;
				height: 42vw;
				margin: 1vw;
			}

			.aboutPlate{
				width: 47vw;
				height: 42vw;
				margin: 1vw;
				background-color: #f5f5f5;
				padding: 0 1vw;

				p{
					font-size: 3vw;
					color: #333;
					text-align: center;
				}

				ul{
					list-style: none;

					li{
						font-size: 3vw;
						color: #333;
						text-align: center;
						font-style: italic;
					}
				}
			}
		}
	}

	#products{

		h2{
			text-align: center;
			font-size: 3.9vw;
			margin: 7.14vw;
			font-weight: 700;
			color: #333;
		}

		.productsWrapper{
			display: flex;
			margin: 0 1vw;

			.productsPlate{
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 1vw;
				padding: 1vw;
				width: 30.66vw;
				height: 30.66vw;
				background: #5FBBDF;
				transition: background 1s ease, color 1s ease;

				&:hover{
					background: #5d396c;
					color: #fff;

					svg{
						fill: #fff;
					}
				}

				svg{
					width: 8.9vw;
					height: 8.9vw;
					transition: fill 1s ease;
				}

				h3{
					font-size: 3vw;
					font-weight: 700;
				}

				p{
					font-size: 1.2vw;
					margin: 3px;
				}
			}
		}
	}

	#portfolio{

		h2{
			text-align: center;
			font-size: 3.9vw;
			margin: 7.14vw;
			font-weight: 700;
			color: #333;
		}

		.portfolioWrapper{
			display: flex;
			margin: 0 1vw;

			.portfolioPlate{
				margin: 1vw;
				width: 22.5vw;
				position: relative;

				&:hover .hover-desc{
					background: rgba(0, 0, 0, 0.7);
					color: #fff;
				}

				.last-orders{
					font-size: 3vw;
					font-weight: 700;
					color: #333;
				}

				img{
					width: 100%;
					height: 100%;
				}

				.hover-desc{
					position: absolute;
					background: rgba(0, 0, 0, 0);
					color: transparent;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: all 0.5s ease;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					cursor: pointer;
					font-size: 1.5vw;
					font-weight: 700;
				}
			}
		}

		.portfolio-gallery{
			position: fixed;
			width: 100vw;
			height: 100vh;
			display: none;
			flex-direction: column;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.7);

			.gallery-main{
				position: relative;
				display: flex;
				justify-content: space-between;
				width: 100vw;
				height: 90vh;

				.prev{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 9vw;

					svg{
						height: 3vw;
						margin: 3vw;
						cursor: pointer;
						transition: all 0.5s ease;

						&:hover{
							fill: #fff;
							transform: scale(1.5);
						}
					}
				}

				img{
					width: 70vw;
					height: 54vw;
					max-width: 900px;
					max-height: 700px;
					margin-top: 2vw;
					align-self: center;
				}

				.next{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 9vw;

					svg{
						height: 3vw;
						margin: 3vw;
						cursor: pointer;
						transition: all 0.5s ease;

						&:hover{
							fill: #fff;
							transform: scale(1.5);
						}
					}
				}

				.close-button{
					height: 1vw;
					position: absolute;
					top: 0;
					right: 0;
					margin: 3vw;
					cursor: pointer;
					transition: all 0.5s ease;
					fill: #bec6cc;

					&:hover{
						fill: #fff;
						transform: scale(1.5);
					}
				}
			}

			.gallery-thumbs{
				display: flex;
				justify-content: center;

				img{
					width: 10vw;
					height: 8vw;
					margin: 1vw;
					margin-bottom: 3vw;
					cursor: pointer;
					transition: all 0.5s ease;

					&:hover{
						transform: scale(1.2);
					}
				}
			}
		}
	}

	#order{
		display: flex;
		flex-direction: column;
		align-items: center;

		h2{
			text-align: center;
			font-size: 3.9vw;
			margin: 7.14vw;
			font-weight: 700;
			color: #333;
		}

		form{
			display: flex;
			flex-direction: column;

			label{
				font-size: 1vw;
				font-weight: 700;
				margin: 1vw;

				input, textarea{
					width: 40vw;
					line-height: 2vw;
					font-size: 1vw;
				}
			}

			button{
				width: 20vw;
				line-height: 4vw;
				font-size: 1.5vw;
				font-weight: 700;
				color: #fff;
				background: rgba(95,187,223, 0.7);
				border: none;
				border-radius: 10px;
				align-self: center;
				cursor: pointer;
				transition: background 0.5s ease;

				&:hover{
					background: rgba(95,187,223, 1);
				}
			}
		}
	}

	#contacts{
		background: #242424;
		display: none;
		justify-content: space-around;
		color: #fff;
		margin-top: 3vw;

		.logo{
			width: 12vw;
			height: 8vw;
			transition: all 1s ease-out;
			align-self: center;

			&:hover{
				transform: scale(1.1);
			}
		}

		p{

			a{
				color: #fff;
			}
		}
	}

	#to-top{
		width: 5vw;
		position: fixed;
		bottom: 0;
		right: 0;
		margin: 2vw;
		fill-opacity: 0.5;
		transition: all 0.5s ease;
		cursor: pointer;
		display: none;

		&:hover{
			fill-opacity: 1;
		}
	}
}